In [1]:
import pandas as pd
df = pd.read_csv("loans-raw.csv")

In [2]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
620,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
621,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
622,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
623,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
624,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.shape

(625, 13)

# data cleaning

In [5]:
# find duplicates

In [6]:
df.duplicated().sum()

7

In [7]:
# remove duplicates

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
# check for duplicates

In [10]:
df.duplicated().sum()

0

In [11]:
df.shape

(618, 13)

# handling missing values

In [ ]:
# find missing values

In [12]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           23
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
# fill missing values

In [14]:
df.LoanAmount.mean()

146.00504201680673

In [15]:
df.LoanAmount.fillna(146.00504201680673, inplace=True)

In [16]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
df.Gender.fillna('Male', inplace=True)

In [ ]:
# fillna for married colum

In [ ]:
# normalization

In [19]:
df.Gender.value_counts()

Male      427
Female    112
male       79
Name: Gender, dtype: int64

In [20]:
df['Gender'] = df.Gender.apply(str.upper)

In [21]:
df.Gender.value_counts()

MALE      506
FEMALE    112
Name: Gender, dtype: int64

In [ ]:
# normalize

In [22]:
df.Property_Area.unique()

array(['Urban', 'Rural', 'Semiurban', 'rural'], dtype=object)

In [23]:
df.Property_Area.value_counts()

Semiurban    236
Urban        203
Rural        108
rural         71
Name: Property_Area, dtype: int64

In [ ]:
# create a new column

In [24]:
df['Property_Area'] = df.Property_Area.apply(str.upper)

In [25]:
df.Property_Area.value_counts()

SEMIURBAN    236
URBAN        203
RURAL        179
Name: Property_Area, dtype: int64

In [ ]:
df['LoanAmountINR'] = df.LoanAmount * 79 # convert to rupess

In [ ]:
df.head()

In [ ]:
# load to csv

In [ ]:
df.to_csv("loans-cleaned.csv", index=False)

In [ ]:
df.to_excel("loans-cleaned.xlsx")