In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("etldata.db")

In [4]:
df = pd.read_sql_query("select * from mydiamonds",conn)

In [5]:
df.shape

(5222, 11)

In [6]:
df.head()

,s,carat,cut,color,clarity,depth,table,x,y,z,priceINR
0,21929,1.70,Ideal,J,VS2,60.5,58.0,7.73,7.74,4.68,790158
1,21930,1.03,Ideal,E,VVS2,60.6,59.0,6.50,6.53,3.95,790237
2,21931,1.23,Very Good,G,VVS2,60.6,55.0,6.93,7.02,4.23,790316
3,21932,1.25,Ideal,F,VS2,61.6,55.0,6.93,6.96,4.28,790474
4,21933,2.01,Very Good,I,SI2,61.4,63.0,8.19,7.96,4.96,790711

In [ ]:
# transfrom the 'cut' to upper case

In [7]:
df['cut'] = df.cut.apply(str.upper)

In [8]:
df.head()

,s,carat,cut,color,clarity,depth,table,x,y,z,priceINR
0,21929,1.70,IDEAL,J,VS2,60.5,58.0,7.73,7.74,4.68,790158
1,21930,1.03,IDEAL,E,VVS2,60.6,59.0,6.50,6.53,3.95,790237
2,21931,1.23,VERY GOOD,G,VVS2,60.6,55.0,6.93,7.02,4.23,790316
3,21932,1.25,IDEAL,F,VS2,61.6,55.0,6.93,6.96,4.28,790474
4,21933,2.01,VERY GOOD,I,SI2,61.4,63.0,8.19,7.96,4.96,790711

In [ ]:
# save to csv

In [9]:
df.to_csv("mydiamonds.csv", index=False)

In [10]:
conn.close()